<ion-view view-title="List of tasks">

<ion-modal-view>
 
  <ion-content>

<div class="bar bar-header">
  <button class="button button-clear button-positive"> Edit</button>
  <div class="h1 title">Click on task to modify or delete it !</div>
  <button class="button button-clear button-positive">Delete</button>
</div>


<div class="list">

  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
    <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Réunion a 14h avec mon prof de maths !
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
   </label>
    <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Examen Lundi 05/12/2025
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  

</div>
</ion-view view-title="LogIn">

</ion-modal-view>
 
  </ion-content>
