<ion-view view-title="Profile">
<ion-modal-view>
<ion-content>

<div class="list card">

	<div class="item item-avatar">
		<img src="mcfly.jpg">
		<h2> {{user.firstName}} {{user.lastName}} </h2>
		<p> aka {{user.username}} </p>
		<p> E-mail : {{user.email}} </p>
	</div>

	<div class="item item-body">
		
	</div>

	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" href="#/tab/profile/edit">
			<i class="icon ion-thumbsup"></i>
			Edit profile
		</a>
		<a class="tab-item">
			<i class="icon ion-chatbox" ng-click="console.log('plop')"></i>
			Delete account
		</a>
	</div>

</div>

</ion-content>
</ion-modal-view>
</ion-view>